In [102]:
import numpy, pandas, os
from datetime import date

# nsims
nsims = 5
print(nsims)

# time period
firstday = date(2009, 1, 2)
lastday = date(2009, 12, 31)
delta = lastday - firstday
days = delta.days

# create blank data frame
runf_df = pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

# read the .rpt file
file = open(r'C:\Users\echelsvi\git\chelsvig_urban_pesticides\probabilistic_python\input\swmm\input_1\NPlesantCreek.rpt', "r")

## for subcatchment 1
# create blank list to hold subcatchment's runf values
sub_list = []

# skip x lines to start at day1 for subcatchment1
lines1 = file.readlines()[60:]

for thisday in range(0, days):
    # grab the runf value
    thisline = lines1[thisday]
    fixline = " ".join(thisline.split())
    listline = fixline.split()
    runf = listline[5]
        
    # insert into blank list
    sub_list.append(runf) 
        
# insert list into data frame col
runf_df[1, ] = sub_list
runf_df.rename(columns={ runf_df.columns[0]: 'sub_1' }, inplace = True) 


## for subcatchment 2 - 113
for sub in range(2,114):
    # skip lines to get to the next subcatchment's info
    file = open(r'C:\Users\echelsvi\git\chelsvig_urban_pesticides\probabilistic_python\input\swmm\input_1\NPlesantCreek.rpt', "r")
    skipto = (60 + ((days+9)*(sub-1))) - (sub - 2)
    lines = file.readlines()[skipto:]
  
    # create blank list to hold subcatchment's runf values
    sub_list = []
      
    for thisday in range(0, days):
        # grab the runf value
        thisline = lines[thisday]
        fixline = " ".join(thisline.split())
        listline = fixline.split()
        runf = listline[5]
        
        # insert into blank list
        sub_list.append(runf) 
        
    # insert list into data frame col
    runf_df[sub, ] = sub_list
    
    # rename column
    runf_df.rename(columns={ runf_df.columns[sub-1]: 'sub_'+str(sub) }, inplace = True)    
    
# see what output looks like
print(runf_df)
total_rows=len(runf_df.axes[0])
total_cols=len(runf_df.axes[1])
print(total_rows)
print(total_cols)

runf_df['date'] = pandas.date_range(start='1/2/2009', periods=len(runf_df), freq='D')

5
     sub_1  sub_2  sub_3  sub_4  sub_5  sub_6  sub_7  sub_8  sub_9 sub_10  \
0    5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000
1    5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000  5.000
2    5.000  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999
3    4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999
4    4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999  4.999
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
358  5.012  5.011  5.011  5.011  5.010  5.011  4.940  5.002  4.985  5.011
359  5.012  5.011  5.011  5.011  5.010  5.011  4.940  5.002  4.985  5.011
360  5.012  5.011  5.011  5.011  5.009  5.011  4.940  5.001  4.985  5.011
361  5.012  5.011  5.011  5.011  5.009  5.011  4.940  5.001  4.985  5.010
362  5.012  5.010  5.011  5.010  5.009  5.010  4.939  5.001  4.984  5.010

     ... sub_104 sub_105 sub_106 sub_107 sub_108 sub_109 sub_110 sub_111  \
0    ...   5.000   5.000   5.000   5.000   5.000   5.000   5.000   5.000
1    ...   5.000   5.000   5.000   5.000   5.000   5.000   5.000   5.000
2    ...   4.999   4.999   4.999   4.999   4.999   4.999   4.999   4.999
3    ...   4.999   4.999   4.999   4.999   4.999   4.999   4.999   4.999
4    ...   4.999   4.999   4.999   4.999   4.999   4.999   4.999   4.999
..   ...     ...     ...     ...     ...     ...     ...     ...     ...
358  ...   4.942   4.943   4.943   5.009   4.940   4.942   4.942   4.943
359  ...   4.942   4.943   4.943   5.009   4.940   4.942   4.942   4.943
360  ...   4.942   4.943   4.943   5.009   4.940   4.942   4.942   4.942
361  ...   4.941   4.943   4.943   5.009   4.940   4.942   4.942   4.942
362  ...   4.941   4.943   4.942   5.008   4.940   4.942   4.942   4.942

    sub_112 sub_113
0     5.000   5.000
1     5.000   5.000
2     4.999   4.999
3     4.999   4.999
4     4.999   4.999
..      ...     ...
358   4.942   4.942
359   4.942   4.942
360   4.942   4.942
361   4.942   4.942
362   4.942   4.942

[363 rows x 113 columns]
363
113

In [108]:

runf_df['date'] = pandas.date_range(start='1/3/2009', periods=len(runf_df), freq='D')
runf_df.tail(5)

,sub_1,sub_2,sub_3,sub_4,sub_5,sub_6,sub_7,sub_8,sub_9,sub_10,...,sub_105,sub_106,sub_107,sub_108,sub_109,sub_110,sub_111,sub_112,sub_113,date
358,5.012,5.011,5.011,5.011,5.010,5.011,4.940,5.002,4.985,5.011,...,4.943,4.943,5.009,4.940,4.942,4.942,4.943,4.942,4.942,2009-12-27
359,5.012,5.011,5.011,5.011,5.010,5.011,4.940,5.002,4.985,5.011,...,4.943,4.943,5.009,4.940,4.942,4.942,4.943,4.942,4.942,2009-12-28
360,5.012,5.011,5.011,5.011,5.009,5.011,4.940,5.001,4.985,5.011,...,4.943,4.943,5.009,4.940,4.942,4.942,4.942,4.942,4.942,2009-12-29
361,5.012,5.011,5.011,5.011,5.009,5.011,4.940,5.001,4.985,5.010,...,4.943,4.943,5.009,4.940,4.942,4.942,4.942,4.942,4.942,2009-12-30
362,5.012,5.010,5.011,5.010,5.009,5.010,4.939,5.001,4.984,5.010,...,4.943,4.942,5.008,4.940,4.942,4.942,4.942,4.942,4.942,2009-12-31